body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.pic {
    display: block;
    width: 300px;
    height: 200px;
    background-color: lightblue;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.text {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}